.circle {
    position: fixed;
    pointer-events: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: 9999;
    transition: transform 0.1s ease;
}

/* Hide default cursor */
* {
    cursor: none !important;
}

/* Show default cursor on mobile */
@media (max-width: 853px) {
    * {
        cursor: auto !important;
    }
    .circle {
        display: none;
    }
}